<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Core;User ID=coreuser;Password=XtaiGGStbKBSjIPU96C2" />
  <add name="security" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Core;User ID=securityuser;Password=n51tI9miDd3XjAR8CcL8" />
  <add name="master" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Master;User ID=masteruser;Password=YqsfKTyLAH7KsyVHfkxz" />
  <add name="web" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Web;User ID=webuser;Password=DMoeHH1Cu0F5m3cU6D3S" />
  <add name="messaging" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Messaging;User ID=messaginguser;Password=TZUwgjg0QxqnPWt9wcia" />
  <add name="xdb.processing.pools" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Processing.Pools;User ID=poolsuser;Password=03d36at3Tl1Fh0N1FC5G" />
  <add name="xdb.referencedata" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_ReferenceData;User ID=referencedatauser;Password=0fD6eGM0I6Ys4A60sMDb" />
  <add name="xdb.processing.tasks" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Processing.Tasks;User ID=tasksuser;Password=axJS7jHkGjZwZ5RwcN5L" />
  <add name="experienceforms" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_ExperienceForms;User ID=formsuser;Password=3PNxRizQS9MHP9AALFlB" />
  <add name="exm.master" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_EXM.Master;User ID=exmmasteruser;Password=U1Zj6lNWZUtLEcl7AuLN" />
  <add name="reporting" connectionString="Data Source=MSI;Initial Catalog=GettingStarted_Reporting;User ID=reportinguser;Password=FFBbI7edVknPrbW2uM4P" />
  <add name="sitecore.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=685E0B3F78FC908AF3D8A9A3F7389285F869AD57" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="jpsVvscZezx5oAuVJL0C36UxZFeeOjqsnMQFrJHPHPqIl4pat9ePiTmNJohdrQKYx1WTCJj8OIyDO5gP5m0E3UfFGfOMSejiBPAX" />
  <add name="xconnect.collection" connectionString="https://GettingStartedxconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=685E0B3F78FC908AF3D8A9A3F7389285F869AD57" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://GettingStartedxconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=685E0B3F78FC908AF3D8A9A3F7389285F869AD57" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=685E0B3F78FC908AF3D8A9A3F7389285F869AD57" />
  <add name="xdb.referencedata.client" connectionString="https://GettingStartedxconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=685E0B3F78FC908AF3D8A9A3F7389285F869AD57" />
  <add name="EXM.CryptographicKey" connectionString="0x7154310821262393593793273564776562281665485901020137692250735834" />
  <add name="EXM.AuthenticationKey" connectionString="0x1294182075033244139659279705433289728839651995862852628451333883" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>