<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Core;User ID=coreuser;Password=fGB3AAwbXD0kc8TtsZAT" />
  <add name="security" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Core;User ID=securityuser;Password=NzGIIzFiXWUVYzC2C7jd" />
  <add name="master" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Master;User ID=masteruser;Password=wSnGtXVe86opoPF1zHLP" />
  <add name="web" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Web;User ID=webuser;Password=wbY5jDGOR88JmEO0rIm0" />
  <add name="messaging" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Messaging;User ID=messaginguser;Password=OZeTkIpAjUV2szmcQS0t" />
  <add name="xdb.marketingautomation" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_MarketingAutomation;User ID=marketingautomationuser;Password=7y2XVyMwtohbIukm2HsN" />
  <add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Processing.Pools;User ID=poolsuser;Password=9BPSrbRnKpoqij1rqKBs" />
  <add name="xdb.referencedata" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_ReferenceData;User ID=referencedatauser;Password=il1ULu6AHd5W79biD0F0" />
  <add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Processing.Tasks;User ID=tasksuser;Password=C8IpN93KRZlqnAb8s7Lq" />
  <add name="experienceforms" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_ExperienceForms;User ID=formsuser;Password=5rklPO0azr0KQvPkG1qr" />
  <add name="exm.master" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_EXM.Master;User ID=exmmasteruser;Password=hDbhdVEcWveT9E7ZmcJg" />
  <add name="reporting" connectionString="Data Source=DESKTOP-1HBE17R;Initial Catalog=92_Reporting;User ID=reportinguser;Password=oF2BpXkjwpBXdxEUTDuc" />
  <add name="sitecore.reporting.client" connectionString="https://92xconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=2C12CBD0921D702FF19C92EDE890CEC07ADBF6F0" />
  <add name="solr.search" connectionString="https://solr75:8750/solr" />
  <add name="sitecoreidentity.secret" connectionString="HyzZUHfnPr6WKzRElviRKtmIZIuZC6hylhc9UukRBsosbihW1zieelsxNJtUcbLmbjcLEgsGMDp8ll9RZe1pGtpQjDeO2PDXI9Nm" />
  <add name="xconnect.collection" connectionString="https://92xconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=2C12CBD0921D702FF19C92EDE890CEC07ADBF6F0" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=2C12CBD0921D702FF19C92EDE890CEC07ADBF6F0" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=2C12CBD0921D702FF19C92EDE890CEC07ADBF6F0" />
  <add name="xdb.referencedata.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=2C12CBD0921D702FF19C92EDE890CEC07ADBF6F0" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x4776423567165118390098792547551046333272389135922710340145807810" />
  <add name="EXM.AuthenticationKey" connectionString="0x2170001128150095421761696871213240838454325495590623635301286679" />
</connectionStrings>